.multiSelectContainer {
    width:60% !important;
    height:40px !important;
    border:0px !important;
}
.searchBox {
    width:40%;
    height:30px !important;
   
}
.test{
    width: 200px!important;
}