.datatable-rowexpansion-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.datatable-templating-demo .table-header {
    /* display: flex; */
    align-items: center;
    /* justify-content: space-between; */
}
.datatable-rowexpansion-demo .orders-subtable {
    padding: 1rem;
}
.p-datatable .p-datatable-thead > tr > th {
    background-color:#10b981 !important;
    color:white;
    /* padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; */
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 5px 10px rgba(0,0,0,0.7),
         0px 10px 23px rgba(0,0,0,0.4);    
}
.subTable .p-datatable-thead > tr > th {
    background-color:#e9b15e !important;
    color:white;
    /* padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; */
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 5px 10px rgba(0,0,0,0.7),
         0px 10px 23px rgba(0,0,0,0.4);    
}
.p-datatable-table{
    /* overflow-x: scroll; */
    width:100% !important;
    /* table-layout: fixed !important; */
}
.ant-table table{
    border-radius: 15px !important;
    font-family: 'Kanit', sans-serif;  
}
.datatable table > .MuiTableCell-root{
    border-radius: 15px !important;
}
.font .MuiTableCell-head{
    color:white !important;
    font-family: 'Kanit', sans-serif; 
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 5px 10px rgba(0,0,0,0.7),
         0px 10px 23px rgba(0,0,0,0.4); 
}
.ant-table-thead>tr>th {
    background-color:#10b981 !important;
    color:white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 5px 10px rgba(0,0,0,0.7),
         0px 10px 23px rgba(0,0,0,0.4);       

}
